* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:#ffffff;
}

html {
    scroll-behavior:smooth;
}

p, li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    letter-spacing:0.04em;
    line-height:1.38em;
}

p {
    font-size: clamp(0.875rem, calc(0.875rem + ((1vw - 0.48rem) * 0.463)), 1rem);
}

#page-wrapper {
    max-width:1400px;
    margin:0 auto;
}

li {
    list-style:none;
}

button {
    border:none;
    outline:none;
}

.heading > span {
    color:#37A5E3;
}

a {
    text-decoration:none;
}

body {
    background-color:#131820;
}

.heading {
    font-size: clamp(1.875rem, calc(1.875rem + ((1vw - 0.48rem) * 5.3571)), 2.625rem);
    font-family: 'Michroma', 'sans serif';
    font-weight:normal !important;
    width:fit-content;
}

*:not(svg)::selection {
    color:#154763;
    background-color:#E0E0E0;
}

@keyframes opacityAnim {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@import "header";
@import "hero";
@import "camera";
@import "microphone";
@import "about";
@import "contact";
@import "media queries";

[data-scroll] {
    opacity:0;
}

[data-scroll="in"] {
    transition: opacity 1.6s linear 0.2s;
    opacity:1;
}

